aiofiles==0.6.0
click==7.1.2
colorhash==1.0.3
cycler==0.10.0
fastapi==0.63.0
h11==0.12.0
Jinja2==2.11.3
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.1
mpmath==1.2.1
numpy==1.20.2
Pillow==8.2.0
pydantic==1.8.1
pydash==4.9.3
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.16.0
starlette==0.13.6
sympy==1.7.1
typing-extensions==3.7.4.3
uvicorn==0.13.4
